<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BSH's Travel</title>
    <link rel="icon" href="../image/favicon.png" type="image/png">
    <link rel="stylesheet" href="../css/country.css">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header-content">
            <a href="/bsh_travel/main" class="header-content button">
                <img src="../image/travel_logo.png" alt="Logo" class="logo">
            </a>
        </div>
    </header>
    <button class="sidebar-toggle-button" onclick="toggleSidebar()">☰</button>

    <div class="main-wrapper">
        <div class="main-container">
            <div class="travel-detail">
                <div class="travel-container">
                    <div class="travel-title">
                        <h1 style="line-height: 1;">🐼 중국 여행</h1>
                        <div class="dday-badge completed" id="dday-china">완료</div>
                    </div>
                    <div class="travel-header">
                        <p style="font-size:0.9rem; color: #aaa;">(2025-01-04 ~ 2025-01-09)</p>
                    </div>
                    <div class="tags-container">
                        <p class="travel-tags"> #베이징 </p>
                        <p class="travel-tags"> #친구랑 여행 </p>
                    </div>
                </div>
                <div class="scroll-buttons">
                    <button onclick="scrollToSection('places')">📍 방문한 주요 장소</button>
                    <button onclick="scrollToSection('food')">🍜 음식 이야기</button>
                    <button onclick="scrollToSection('transit')">📚 여행 수단 정리</button>
                </div>

                <div id="places" class="section">
                    <h2>📍 방문한 주요 장소</h2>
                    <div class="place-grid">
                        <a href="javascript:void(0);" class="place-link" data-id="place1">🛕 천단공원</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place2">🛍️ 왕푸징 거리</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place3">🧱 만리장성</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place4">🌿 이화원</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place5">🏛️ 천안문</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place6">🏰 유니버셜</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place7">🏯 자금성</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place8">🏞️ 경산공원</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place9">🐼 베이징 동물원</a>
                        <a href="javascript:void(0);" class="place-link" data-id="place10">🏘️ 전문대가</a>
                    </div>

                    <hr id="place1" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">1. 天坛公园 - 천단공원</h3>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place1-2.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place1-1.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place1-3.jpg" class="image-slide" data-index="2">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 10RMB(비수기), 15RMB(성수기)<br>
                                *내부 명소 입장료 별도 +20RMB
                            </h4>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                                천단공원 명소는 공원 안에 있고,<br>
                                공원에 입장할 때 <span style='color: palevioletred'>명소티켓이랑 같이 구매하면 28CNY에 구매 가능</span>하다.<br><br>
                                천단은 하늘에 제사를 지내던 제단인데,<br>
                                산책하면서 약간 경주대릉원이랑 비슷하다는 느낌이 들었다.
                            </p>
                        </div>
                    </div>

                    <hr id="place2" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">2. 王府井大街 - 왕푸징 거리</h3>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place2-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place2-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place2-3.jpg" class="image-slide" data-index="2">
                                        <img src="../image/image_country24/place2-4.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/place2-5.jpg" class="image-slide" data-index="4">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                                내가 원했던 건 벌레튀김 같이 특이한 음식을 판매하는 걸<br>
                                보길 원했는데 없어졌다고 한다...<br><br>
                                거리가 깔끔하고, 상하이의 난징동루 작은버전 느낌이었다.
                            </p>
                        </div>
                    </div>

                    <hr id="place3" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">3. 八达岭长城 - 팔달령장성</h3>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place3-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place3-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place3-5.jpg" class="image-slide" data-index="2">
                                        <img src="../image/image_country24/place3-3.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/place3-4.jpg" class="image-slide active" data-index="4">
                                        <img src="../image/image_country24/place3-6.jpg" class="image-slide active" data-index="5">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 40RMB
                            </h4>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                                만리장성을 볼 수 있는 곳이 여러 군데 있지만,<br>우리는 팔달령으로 정했다.<br><br>
								버스 요금은 12위안 정도로 저렴했던 걸로 기억한다.<br><br>
								겨울에 갔는데 정말 추워서 얼어 죽는 줄 알았다.<br>
								<span style='color: palevioletred'>따뜻하게 입고 가는 게 필수!</span>
                            </p>
                        </div>
                    </div>

                    <hr id="place4" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">4. 颐和园 - 이화원</h3>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place4-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place4-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place4-3.jpg" class="image-slide" data-index="2">
                                        <img src="../image/image_country24/place4-4.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/place4-5.jpg" class="image-slide active" data-index="4">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 20RMB
                            </h4>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                                황족을 위해 조성된 정원이라고 한다.<br><br>                              
                                엄청 넓다.
                            </p>
                        </div>
                    </div>

                    <hr id="place5" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">5. 天安门 - 천안문</h3>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place5-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place5-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place5-3.jpg" class="image-slide" data-index="2">
                                        <img src="../image/image_country24/place5-4.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/place5-5.jpg" class="image-slide active" data-index="4">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 아마 무료였던걸로 기억함
                            </h4>
                            <p style="margin-top:20px; margin-bottom:60px; text-align: center">
                                인상 깊었던 곳. 중국 주석의 권위가 느껴졌다.<br><br>
                                사진 찍고 있는데, 공안 4~5명이 다가와<br>
                                휴대폰 검사하면서 엄격하게 관리했다.<br><br>
                                확인하고 이 정도는 괜찮다고 보내줬는데, 좀 쫄았다..😨<br>
                            </p>
                        </div>
                    </div>

                    <hr id="place6" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">6. Universal Beijing Resort</h3>
                
                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place6-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place6-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place6-3.jpg" class="image-slide" data-index="2">
                                        <img src="../image/image_country24/place6-4.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/place6-5.jpg" class="image-slide active" data-index="4">
                                        <img src="../image/image_country24/place6-6.jpg" class="image-slide" data-index="5">
                                        <img src="../image/image_country24/place6-7.jpg" class="image-slide active" data-index="6">
                                        <img src="../image/image_country24/place6-8.jpg" class="image-slide" data-index="7">
                                        <img src="../image/image_country24/place6-9.jpg" class="image-slide active" data-index="8">
                                        <img src="../image/image_country24/place6-10.jpg" class="image-slide active" data-index="9">
                                        <img src="../image/image_country24/place6-11.jpg" class="image-slide" data-index="10">
                                        <img src="../image/image_country24/place6-12.jpg" class="image-slide active" data-index="11">
                                        <img src="../image/image_country24/place6-13.jpg" class="image-slide" data-index="12">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 83,000원(Klook)
                            </h4>
                            <p style="margin-top:20px; margin-bottom:60px; text-align: center">
                          		<span style='color: palevioletred'>유니버셜 베이징에만 있는 쿵푸팬더</span>를 보러왔다.<br>
                          		중국 오기전에 쿵푸팬더 영화에서 봤던 장면을 볼 수 있어서 좋았다.<br><br>
                                놀이기구는 재미있었지만, 추운 날씨에 1~2시간씩<br>
                                기다리려니 약간 힘들었다.<br><br>
                                해리포터 테마존에 들어섰을 때, 마치 데자뷰를 보는 줄 알았다.<br>
								USJ에서 봤던 모습과 정말 똑같은 느낌이었다.<br>
								건물부터 분위기까지, 거의 복붙 수준.
                            </p>
                        </div>
                    </div>
                    
                    <hr id="place7" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">7. 紫禁城 - 자금성</h3>
                
                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place7-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place7-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place7-3.jpg" class="image-slide" data-index="2">
                                        <img src="../image/image_country24/place7-4.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/place7-5.jpg" class="image-slide active" data-index="4">
                                        <img src="../image/image_country24/place7-6.jpg" class="image-slide active" data-index="5">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 40RMB
                            </h4>
                            <p style="margin-top:20px; margin-bottom:60px; text-align: center">
                          		<span style='color: palevioletred'>어플로 예약해야 입장 가능. 월요일 휴무</span><br><br>
                          		자금성(The Forbidden City)은 '금지된 도시'라고도 부르는데,<br>
                          		일반 백성은 들어갈 수 없는 황제의 공간이라고 한다.<br><br>
                          		
                          		공간 자체가 엄청 크다.<br>과장하면 내가 미니언즈가 된 느낌을 받았다.
                            </p>
                        </div>
                    </div>
                    
                    <hr id="place8" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">8. 景山公园 - 경산공원</h3>
                
                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place8-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place8-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place8-3.jpg" class="image-slide" data-index="2">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 2RMB
                            </h4>
                            <p style="margin-top:20px; margin-bottom:60px; text-align: center">
                          		경산공원 꼭대기에는 사람이 좀 많았는데,<br>
                          		입구 주변에는 엄청 조용했다.<br><br>
                        		항상 사람이 너무 곳을 많이 가서 그런지,<br>
                        		그 조용한 공간에서 산책하는게 너무 좋았다.
                            </p>
                        </div>
                    </div>
                    
                    <hr id="place9" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">9. 베이징 동물원</h3>
                
                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place9-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place9-2.jpg" class="image-slide active" data-index="1">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <h4 style="text-align: center; color: grey;" >
                                입장료 : 14RMB? 였던 걸로 기억
                            </h4>
                            <p style="margin-top:20px; margin-bottom:60px; text-align: center">
                          		판다 보는 곳에만 많은 사람들이 몰려 있었고,<br>
                          		그 외에는 사람들이 거의 없어 편히 구경하고 왔다.<br><br>
                          		인터넷 방송으로 송출하고 있는 사람도 많았다.
                            </p>
                        </div>
                    </div>
                    
                    <hr id="place10" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">10. 전문대가</h3>
                
                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/place10-1.jpg" class="image-slide" data-index="0">
                                        <img src="../image/image_country24/place10-2.jpg" class="image-slide active" data-index="1">
                                        <img src="../image/image_country24/place10-3.jpg" class="image-slide" data-index="2">
                                        <img src="../image/image_country24/place10-4.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/place10-5.jpg" class="image-slide active" data-index="4">
                                        <img src="../image/image_country24/place10-6.jpg" class="image-slide" data-index="5">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <p style="margin-top:20px; margin-bottom:20px; text-align: center">
                          		밤에 구경하러 갔는데,<br> 반짝이는 건물들이 너무 예뻤다.<br><br>
                          		골목길로 들어가 보니,<br>길거리에서 인터넷 방송을 하는 사람들이 정말 많았다.<br>
								유튜브로만 보던 장면들을 직접 보니까 꽤 신기했다.
                            </p>
                        </div>
                    </div>

                </div>

                <hr style="border: none; border-top: 2px solid #ccc;" id="food"/>
                <div class="section">
                    <h2>🍖 음식 이야기</h2>
                    <div class="place-grid">
                        <a href="javascript:void(0);" class="place-link" data-id="food1">🍜️ 중국식 짜장면</a>
                        <a href="javascript:void(0);" class="place-link" data-id="food2">🍡 아이스크림</a>
                        <a href="javascript:void(0);" class="place-link highlight" data-id="food3">🍲 훠궈</a>
                        <a href="javascript:void(0);" class="place-link" data-id="food4">🥟 만두</a>
                        <a href="javascript:void(0);" class="place-link" data-id="food5">🍛 볶음밥, 고기</a>
                        <a href="javascript:void(0);" class="place-link" data-id="food6">🍰 디저트</a>
                        <a href="javascript:void(0);" class="place-link highlight" data-id="food7">🐑 양꼬치</a>
                        <a href="javascript:void(0);" class="place-link" data-id="food8">🥙 중국식 빵(饼)</a>
                        <a href="javascript:void(0);" class="place-link" data-id="food9">🥩 동파육</a>
                        <a href="javascript:void(0);" class="place-link" data-id="food10">🍜 유포면</a>
                    </div><br>

                    <hr id="food1" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">1. 方砖厂69号炸酱面(王府世纪店) - 중국식 짜장면</h3>
                            <h4 style="text-align: center; color: gray;">(자금성 앞 위치, 베이징)</h4>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/food1-1.jpg" class="image-slide active" data-index="0">
                                        <img src="../image/image_country24/food1-2.jpg" class="image-slide" data-index="1">
                                        <img src="../image/image_country24/food1-3.jpg" class="image-slide active" data-index="2">
                                        <img src="../image/image_country24/food1-4.jpg" class="image-slide active" data-index="3">
                                        <img src="../image/image_country24/food1-5.jpg" class="image-slide" data-index="4">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                                웨이팅 10~20분 정도로 약간 있었고,<br>전체적으로 무난하게 맛있었다.<br><br>
                                친구가 하얀색 음료수 하나 시켜서 마셨는데,<br> 취두부맛 났다..🤮
                            </p>
                        </div>
                    </div>

                    <hr id="food2" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                    <div>
                        <div>
                            <h3 style="text-align: center; margin-top:60px;">2. 绿舌头 - 아이스크림</h3>
                            <h4 style="text-align: center; color: gray;">(편의점)</h4>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/food2-1.jpg" class="image-slide active" data-index="0">
                                        <img src="../image/image_country24/food2-2.jpg" class="image-slide" data-index="1">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                                绿舌头(lǜ shétou)는 녹색 혀라는 뜻이다.<br><br>
                                중국에서 살던 친구가 꼭 먹어보라해서 상하이, 광저우에서<br>
                                못찾다가 베이징에서 겨우 찾았다.<br><br>
                                맛은 사과? 그냥 인공적인 맛인데 식감이 신기하다.<br>가면 한 번 더 먹을 것 같다.
                            </p>
                        </div>
                    </div>
                </div>

                <hr id="food3" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">3. 南城香 - 훠궈 ⭐</h3>
                        <h4 style="text-align: center; color: gray;">(프랜차이즈, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food3-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food3-2.jpg" class="image-slide" data-index="1">
                                    <img src="../image/image_country24/food3-3.jpg" class="image-slide active" data-index="2">
                                    <img src="../image/image_country24/food3-4.jpg" class="image-slide" data-index="3">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            친구가 KFC랑 비슷하다고 하니 흥미가 생겨 들어가봤다.<br><br>
                            가격도 훠궈치고 나름 저렴했고,<br>혼밥하기 좋을 것 같다는 생각이 들었다.<br><br>
                            맛은 무난했지만,<br>개인적으로 엄청 만족한다.
                        </p>
                    </div>
                </div>

                <hr id="food4" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">4. 庆丰包子铺 - 만두</h3>
                        <h4 style="text-align: center; color: gray;">(프랜차이즈, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food4-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food4-2.jpg" class="image-slide" data-index="1">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            무난하게 맛있음,<br>가격도 나쁘지 않아서 가볍게 먹기 좋음
                        </p>
                    </div>
                </div>

                <hr id="food5" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">5. 볶음밥, 고기</h3>
                        <h4 style="text-align: center; color: gray;">(불명)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food5-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food5-2.jpg" class="image-slide" data-index="1">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            그냥 먹을만, 크게 기억에 남는 맛은 아님
                        </p>
                    </div>
                </div>

                <hr id="food6" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">6. 喜茶(HEYTEA)</h3>
                        <h4 style="text-align: center; color: gray;">(프랜차이즈, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food6-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food6-2.jpg" class="image-slide" data-index="1">
                                    <img src="../image/image_country24/food6-3.jpg" class="image-slide active" data-index="2">
                                    <img src="../image/image_country24/food6-4.jpg" class="image-slide" data-index="3">
                                    <img src="../image/image_country24/food6-5.jpg" class="image-slide" data-index="4">
                                    <img src="../image/image_country24/food6-6.jpg" class="image-slide active" data-index="5">
                                    <img src="../image/image_country24/food6-7.jpg" class="image-slide" data-index="6">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            밀크티하고 작은 아이스크림 빵 먹었는데,<br>
                            내 취향이여서 중국에 있으면서 3번 먹었다.<br><br>
                            한국에도 꽤 있는 브랜드였다.
                        </p>
                    </div>
                </div>

                <hr id="food7" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">7. 很久以前羊肉串 - 양꼬치 ⭐</h3>
                        <h4 style="text-align: center; color: gray;">(프랜차이즈, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food7-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food7-2.jpg" class="image-slide" data-index="1">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            유명한 양꼬치 프랜차이즈다.<br><br>
                            상하이에서 먹을려다가 웨이팅 길어서 안갔는데,<br>
                            이번에 기회가 되서 먹었다.<br><br>
                            가격, 맛 모두 만족한다.<br><br>한국에서 종종 생각나는데,<br>
                            다음에 중국가면 <span style='color: palevioletred'>무조건 다시 갈 곳</span>이다.
                        </p>
                    </div>
                </div>

                <hr id="food8" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">8. 好开心烧饼里脊</h3>
                        <h4 style="text-align: center; color: gray;">(프랜차이즈, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food8-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food8-2.jpg" class="image-slide" data-index="1">
                                    <img src="../image/image_country24/food8-3.jpg" class="image-slide active" data-index="2">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            烧饼 (shāobǐng)는 중국식 빵이고,<br>
                            里脊 (lǐjǐ)는 돼지고기 안심 또는 등심이다.<br><br>
                            
							맛있었다.<br> 아침에 간편한 한 끼로 좋은 것 같다.
                        </p>
                    </div>
                </div>
                
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">9. 宫廷香酥牛肉饼</h3>
                        <h4 style="text-align: center; color: gray;">(전문대가 근처, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food9-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food9-2.jpg" class="image-slide" data-index="1">
                                    <img src="../image/image_country24/food9-3.jpg" class="image-slide active" data-index="2">
                                    <img src="../image/image_country24/food9-4.jpg" class="image-slide" data-index="3">
                                    <img src="../image/image_country24/food9-5.jpg" class="image-slide active" data-index="4">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            숙소로 가는 길에 발견했는데,<br>미슐랭 스티커가 많이 붙어 있길래 먹어봤다.<br><br>
                            푸딩?은 크림치즈 맛이 났고, 빵도 맛있었다.<br><br>
                            문제는 음료수.. 뭔가 첫날 먹었던 취두부 맛 음료 아니냐고<br>
                            친구랑 장난으로 얘기했는데 진짜 그 맛이었다...🤮
                        </p>
                    </div>
                </div>
                
                <hr id="food9" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">10. 外婆家 - 동파육</h3>
                        <h4 style="text-align: center; color: gray;">(프랜차이즈, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food10-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food10-2.jpg" class="image-slide" data-index="1">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            '할머니 집'이라는 뜻이다.<br>나름 유명한 곳인 것 같았다.<br><br>
                            동파육은 부드럽고 맛있었는데,<br>
                            너무 많이 먹으니 후반에는 약간 물렸다.<br><br>
                            과자?는 한국의 전통과자 느낌이나면서 맛있었다.👍
                        </p>
                    </div>
                </div>
                
                <hr id="food10" style="border: none; border-top: 1px solid #555; margin: 10px 0;" />
                <div>
                    <div>
                        <h3 style="text-align: center; margin-top:60px;">11. 黄河水小陕娃biangbiang面 - 유포면</h3>
                        <h4 style="text-align: center; color: gray;">(자금성 근처, 베이징)</h4>

                        <div class="outer-slider-container">
                            <button class="slider-btn outside-btn left-btn">&#10094;</button>

                            <div style="margin-top: 30px" class="slider-container">
                                <div class="image-slider">
                                    <img src="../image/image_country24/food11-1.jpg" class="image-slide active" data-index="0">
                                    <img src="../image/image_country24/food11-2.jpg" class="image-slide" data-index="1">
                                </div>
                            </div>

                            <button class="slider-btn outside-btn right-btn">&#10095;</button>
                        </div>
                        <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:60px; text-align: center">
                            흑백요리사에서 정지선 셰프의 유포면을 보고<br> 중국가서 꼭 먹어보고 싶었다.<br><br>
                            생각했던 맛, 고추기름에 면을 비빈 맛이다.<br>
                            나름 맛있었다.
                        </p>
                    </div>
                </div>

                <hr style="border: none; border-top: 2px solid #ccc;" id="transit"/>
                <div class="section">
                    <h2>📚 여행 수단 정리</h2>
                    <div class="place-grid">
                        <a href="javascript:void(0);" class="place-link" data-id="airplane">✈️ 항공권</a>
                        <a href="javascript:void(0);" class="place-link" data-id="hotel">🛌 호텔</a>
                        <a href="javascript:void(0);" class="place-link" data-id="etc">📙 기타 정보</a>
                    </div>
                    <hr style="border: none; border-top: 1px solid #555; margin: 10px 0;" id="airplane"/>
                    <div>
                        <h2 style="margin-top: 10px; margin-bottom: 15px;">✈️ 항공권</h2>

                        <h3 style="margin-bottom: 10px; text-align: center">입국 (하노이 -> 베이징)</h3>
                        <table>
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>공항</th>
                                <th>시간</th>
                                <th>날짜</th>
                                <th>항공사</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>출발</td>
                                <td>노이바이 국제공항 T2</td>
                                <td>14:20</td>
                                <td rowspan="2">2025년 1월 4일</td>
                                <td rowspan="2">중국동방항공 (MU6012)</td>
                            </tr>
                            <tr>
                                <td>도착</td>
                                <td>푸동 국제공항 T1</td>
                                <td>18:20</td>
                            </tr>
                            <tr>
                                <td>출발</td>
                                <td>푸동 국제공항 T1</td>
                                <td>19:55</td>
                                <td rowspan="2">2025년 1월 4일</td>
                                <td rowspan="2">중국동방항공 (MU5195)</td>
                            </tr>
                            <tr>
                                <td>도착</td>
                                <td>다싱 국제공항</td>
                                <td>22:00</td>
                            </tr>
                            </tbody>
                        </table>

                        <h3 style="margin-bottom: 10px; text-align: center">출국 (베이징 -> 광저우)
                        </h3>
                        <table>
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>공항</th>
                                <th>시간</th>
                                <th>날짜</th>
                                <th>항공사</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>출발</td>
                                <td>수도국제공항 T2</td>
                                <td>16:30</td>
                                <td rowspan="2">2025년 1월 9일</td>
                                <td rowspan="2">하이난항공 (HU7811)</td>
                            </tr>
                            <tr>
                                <td>도착</td>
                                <td>바이윈국제공항 T1</td>
                                <td>19:45</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <hr style="border: none; border-top: 1px solid #555; margin: 10px 0;" id="hotel"/>
                    <div>
                        <h2 style="margin-top: 20px; margin-bottom: 30px;">🛌 호텔</h2>
                        <div>
                            <h3 style="text-align: center; margin-top:10px;">1. 힐튼 가든 인 베이징 다싱 인터내셔널 에어포트 - 베이징 공항<br>(Hilton Garden Inn Beijing Daxing International Airport)</h3>
                            <h4 style="text-align: center; color: gray;">(2025-01-04 ~ 2025-01-05, 1박)</h4>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/hotel1-1.jpg" class="image-slide active" data-index="0">
                                        <img src="../image/image_country24/hotel1-2.jpg" class="image-slide" data-index="1">
                                        <img src="../image/image_country24/hotel1-3.jpg" class="image-slide active" data-index="2">
                                        <img src="../image/image_country24/hotel1-4.jpg" class="image-slide" data-index="3">
                                        <img src="../image/image_country24/hotel1-5.jpg" class="image-slide active" data-index="4">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:100px; text-align: center">
                                밤늦게 공항에 도착해 공항 근처 호텔에서 1박을 했다. <br>
                                시설은 매우 깔끔했고, 직원들도 친절했음. <br><br>
                                다음 날, 호텔에서 무료로 셔틀버스를 운영하고 있어서,<br>공항으로 이동한 후 베이징 도심으로 갔다.
                            </p>
                        </div>

                        <div>
                            <h3 style="text-align: center; margin-top:10px;">2. 하이 인 량핑베이징 동시 메트로 스테이션 호텔 - 베이징<br>(Hi lnn Liangpin Beijing Dongsi Metro Station)</h3>
                            <h4 style="text-align: center; color: gray;">(2025-01-05 ~ 2025-01-09, 4박)</h4>

                            <div class="outer-slider-container">
                                <button class="slider-btn outside-btn left-btn">&#10094;</button>

                                <div style="margin-top: 30px" class="slider-container">
                                    <div class="image-slider">
                                        <img src="../image/image_country24/hotel2-1.jpg" class="image-slide active" data-index="0">
                                        <img src="../image/image_country24/hotel2-2.jpg" class="image-slide" data-index="1">
                                        <img src="../image/image_country24/hotel2-3.jpg" class="image-slide active" data-index="2">
                                        <img src="../image/image_country24/hotel2-4.jpg" class="image-slide active" data-index="3">
                                    </div>
                                </div>

                                <button class="slider-btn outside-btn right-btn">&#10095;</button>
                            </div>
                            <p class="mobile-margin-fix" style="margin-top:20px; margin-bottom:100px; text-align: center">
                                자금성 근처의 숙소, 주변에 지하철역이 있어 이동이 편리하다.<br>
                                호텔은 무난하면서 딱 깔끔해서 만족한다.
                            </p>
                        </div>

                    </div>

                    <hr style="border: none; border-top: 1px solid #555; margin: 10px 0;" id="etc"/>
                    <div>
                        <h2 style="margin-top: 20px; margin-bottom: 30px;">📙 기타 정보</h2>

                        <h3 style="margin-bottom: 10px">1. 준비물</h3>
                        <ul>
                            <li>Alipay - 중국 결제어플. 현찰 쓸 일이 아예 없음. 모두 QR로 결제</li>
                            <li>DiDi - 중국 택시어플. 택시비가 저렴해서 자주 타기 좋음</li>
                            <li>고덕지도(高德地图) - 중국 지도어플. 다른 나라와 다르게 구글지도가 되지 않음. 중국 현지어플을 써야함.</li>
                            <li>eSIM</li>
                            <li>VPN - eSIM에 VPN이 포함되어 있지만, 현지 호텔 와이파이에서는 제대로 작동되지 않았음</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div id="image-modal" class="image-modal">
            <span class="close-btn">&times;</span>
            <img class="modal-content" id="modal-img" alt="Expanded Image">
            <div id="caption"></div>
        </div>
        <aside class="sidebar" id="sidebar">

		<div class="search-container">
  <div class="tag-title2">🔍 검색하기</div>
  <input type="text" id="searchInput" name="keyword" placeholder="나라 또는 도시 검색하기..." oninput="filterCountries()" />
</div>
           <!-- 태그 목록 -->
            <div class="tag-section" style="margin-top:20px;">
                <div class="tag-title">🏷️ 태그</div>
                <div class="tag3">#일본</div>
                <div class="tag3">#중국</div>
                <div class="tag3">#오사카</div>
                <div class="tag3">#친구와 여행</div>
                <div class="tag3">#혼자 여행</div>
            </div>

		<div class="link-section">
			  <div class="link-section-title">🧭 둘러보기</div>
			  <a href="/bsh_travel/templates/country_map" class="link-item">👀 여행지를 한눈에</a>
			  <a href="https://byeonsunghyun.github.io/bsh_hub/bshhub" rel="noopener" class="link-item">🌐 다른 프로젝트 보기</a>
			</div>

            <div class="sidebar-footer">
            	<a href="/bsh_travel/login" class="login-link">로그인</a>
            	<div style="border-top: 1px solid #333; margin-bottom:20px; margin-top:45px;"></div>
                © 2025. Byeon Sung Hyun. All rights reserved.
            </div>
        </aside>
    </div>
</div>
</div>

<script>
    function toggleSidebar() {
        document.getElementById('sidebar').classList.toggle('active');
    }
    function toggleSidebar() {
        document.getElementById('sidebar').classList.toggle('active');
    }

    // 각 섹션으로 스크롤하는 함수
    function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        if (section) {
            section.scrollIntoView({ behavior: 'smooth' });
        }
    }

    // 각 장소 링크 클릭 시 해당 섹션으로 스크롤
    document.querySelectorAll('.place-link').forEach(link => {
        link.addEventListener('click', function () {
            const id = this.getAttribute('data-id');
            scrollToSection(id);
        });
    });

    // 스크롤 시 버튼 보이게
    window.addEventListener('scroll', function () {
        const button = document.getElementById('scrollTopButton');
        if (window.scrollY > 100) {
            button.classList.add('show');
        } else {
            button.classList.remove('show');
        }
    });

    // 스크롤 맨 위로 이동
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    const slides = document.querySelectorAll(".image-slide");
    let currentIndex = 0;

    function showSlide(index) {
        slides.forEach((slide, i) => {
            slide.classList.toggle("active", i === index);
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("image-modal");
        const modalImg = document.getElementById("modal-img");
        const caption = document.getElementById("caption");
        const closeBtn = document.querySelector(".close-btn");

        let currentSlides = [];
        let currentIndex = 0;

        // 슬라이드 보여주는 함수
        function showSlide(index) {
            if (index >= 0 && index < currentSlides.length) {
                modalImg.src = currentSlides[index].src;
                caption.textContent = currentSlides[index].alt || "";
            }
        }

        // 모든 슬라이더 처리
        document.querySelectorAll('.outer-slider-container').forEach(container => {
            const slides = container.querySelectorAll(".image-slide");
            const leftBtn = container.querySelector(".left-btn");
            const rightBtn = container.querySelector(".right-btn");

            // 페이지 슬라이더 좌우 버튼
            if (slides.length > 1) {
                let index = 0;
                function showPageSlide(i) {
                    slides.forEach((slide, idx) => {
                        slide.classList.toggle("active", idx === i);
                    });
                }

                leftBtn?.addEventListener("click", () => {
                    index = (index - 1 + slides.length) % slides.length;
                    showPageSlide(index);
                });

                rightBtn?.addEventListener("click", () => {
                    index = (index + 1) % slides.length;
                    showPageSlide(index);
                });

                showPageSlide(index);
            } else {
                // 슬라이드가 하나면 버튼 숨김
                leftBtn?.style.setProperty("display", "none");
                rightBtn?.style.setProperty("display", "none");
            }

            // 이미지 클릭 시 모달 열기
            slides.forEach((slide, idx) => {
                slide.addEventListener("click", () => {
                    modal.style.display = "flex";
                    currentSlides = Array.from(slides);
                    currentIndex = idx;
                    showSlide(currentIndex);
                });
            });
        });

        // 모달 이미지 클릭 시 다음 슬라이드
        modalImg.addEventListener("click", () => {
            if (currentSlides.length > 0) {
                currentIndex = (currentIndex + 1) % currentSlides.length;
                showSlide(currentIndex);
            }
        });

        // 모달 닫기
        closeBtn.addEventListener("click", () => {
            modal.style.display = "none";
        });

        window.addEventListener("click", (e) => {
            if (e.target === modal) {
                modal.style.display = "none";
            }
        });
    });

</script>


<button id="scrollTopButton" onclick="scrollToTop()">맨 위로</button>
</body>
</html>
