<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BSH's Travel</title>
  <link rel="stylesheet" href="/css/fragments.css?v=1.0.3">

</head>
<body>
  <div class="container">
    <!-- 상단바 -->
    <div th:fragment="header">
      <header class="header">
        <div class="header-content">
          <a href="/" class="header-content button">
            <h1>BSH's Travel</h1>
            <img src="/image/airplane.png" alt="Logo" class="logo">
          </a>
        </div>
      </header>
    </div>

    <!-- 사이드바 -->
    <div th:fragment="sidebar">
      
      <aside class="sidebar" id="sidebar">
        <!-- 검색 폼 -->
        <form th:action="@{/}" method="get" class="search-container">
          <div class="tag-title2">🔍 검색하기</div>
          <input type="text" name="keyword" placeholder="나라 또는 도시 검색하기..." />
        </form>

        <div class="tag-section">
          <div class="tag-title">🏷️ 태그</div>
          <div class="tags">
            <div th:each="tagName : ${uniqueTagNames}">
              <a th:href="@{/?tag={name}(name=${tagName})}" class="tag" th:text="${tagName}">#태그</a>
            </div>
          </div>
        </div>

        <div class="sidebar-footer">
          © 2025. Byeon Sung Hyun. All rights reserved.
        </div>
      </aside>
    </div>
  </div>

  <script>
    function toggleSidebar() {
      document.getElementById('sidebar').classList.toggle('active');
    }
  </script>
</body>
</html>
